@{
    ViewBag.Title = "HttpError404";
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    Layout = null;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Greška!
                </h1>
                <h2>
                    Greška na serveru!
                </h2>
                <div class="error-actions">
                    @Html.ActionLink("< Natrag na početnu stranicu", "Index", "Home")
                </div>
            </div>
        </div>
    </div>
</div>