@model IEnumerable<MVC.Models.Kupac>

@{
    <script src="~/Scripts/prikaziDetaljeRacuna.js"></script>
    ViewBag.Title = "Prikaz kupaca";
}

<h2>Prikaz 50 kupaca</h2>

<div class="jumbotron">


    <table class="table table-striped table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ime)</th>
            <th>@Html.DisplayNameFor(model => model.Prezime)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Telefon)</th>
            <th>@Html.DisplayNameFor(model => model.Grad)</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ime)</td>
                <td>@Html.DisplayFor(modelItem => item.Prezime)</td>
                <td><a href="mailto:@item.Email">@item.Email</a></td>
                <td>@Html.DisplayFor(modelItem => item.Telefon)</td>
                <td>@Html.DisplayFor(modelItem => item.Grad.Naziv)</td>
                <td>@Html.ActionLink("Uredi", "Uredi", new { id = item.IDKupac })</td>
                <td><input type="button" value="Prikazi račun" onclick="prikaziRacuneKupca(@item.IDKupac)" /></td>
            </tr>
        }
    </table>


    @Html.Partial("_KupacCount", (int)ViewBag.kupacCount)
</div>

<div id="racuni" class="jumbotron">

</div>
<div id="detaljiRacuna" class="jumbotron">

</div>


@section scripts{

    <script>
        function prikaziRacuneKupca(id) {
            var url = "/Home/DohvatiRacune";
            $.get(url, { id: id })
                .done(function (response) {
                    $("#racuni").html(response);
                });
        }
    </script>



}
