@using MVC.Models
@model IEnumerable<MVC.Models.Proizvod>

@{
    ViewBag.Title = "Proizvodi";
}

<h2>Proizvodi</h2>


<table class="table table-striped table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojProizvoda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimalnaKolicinaNaSkladistu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaBezPDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potkategorija)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojProizvoda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalnaKolicinaNaSkladistu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaBezPDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potkategorija.Naziv)
            </td>
            <td>
                @Html.ActionLink("Uredi", "UrediProizvod", new { id=item.IDProizvod }) |
                @Html.ActionLink("Izbriši", "DeleteProizvod", new { id=item.IDProizvod })
            </td>
        </tr>
    }

</table>